<footer class="footer">
  <div class="footer-wrapper container">
    <div class="footer__text">
      <a class="footer__link footer__link--viber" href="">
        <svg width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="assets/img/sprite.svg#viber"></use>
        </svg>
        <span>Viber</span>
      </a>
    </div>
    <div class="footer__text footer__text--phone">+7 954 33 66 77</div>
    <div class="footer__text">
      <svg width="24" height="24" viewBox="0 0 24 24">
        <use xlink:href="assets/img/sprite.svg#phone"></use>
      </svg>
      <span>+7 921 33 55 48</span>
    </div>
    <a href="" class="footer__link footer__link--telegram">
      <svg class="icon-telegram" width="24" height="24" viewBox="0 0 24 24">
        <use xlink:href="assets/img/sprite.svg#telegram"></use>
      </svg>
      <span>Telegram</span>
    </a>
    <a href="" class="footer__link">
      <svg width="24" height="24" viewBox="0 0 24 24">
        <use xlink:href="assets/img/sprite.svg#email"></use>
      </svg>
      <span>Почта</span>
    </a>
    <a href="" class="footer__link">
      <svg width="24" height="24" viewBox="0 0 24 24">
        <use xlink:href="assets/img/sprite.svg#call"></use>
      </svg>
      <span>Заказать звонок</span>
    </a>
    <a href="" class="footer__link">
      <svg width="24" height="24" viewBox="0 0 24 24">
        <use xlink:href="assets/img/sprite.svg#write"></use>
      </svg>
      <span>Написать нам</span>
    </a>
  </div>
  <ul class="footer__social-list">
    <li class="footer__social-item">
      <a class="footer__social-link" href="https://vk.com/" alt="vk">
        <svg width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="assets/img/sprite.svg#vk"></use>
        </svg>
      </a>
    </li>
    <li class="footer__social-item">
      <a class="footer__social-link" href="https://ru-ru.facebook.com/" alt="facebook">
        <svg width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="assets/img/sprite.svg#fb"></use>
        </svg>
      </a>
    </li>
    <li class="footer__social-item">
      <a class="footer__social-link" href="https://www.instagram.com/?hl=ru" alt="instagram">
        <svg width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="assets/img/sprite.svg#instagram"></use>
        </svg>
      </a>
    </li>
    <li class="footer__social-item">
      <a class="footer__social-link" href="https://www.youtube.com/" alt="youtube">
        <svg width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="assets/img/sprite.svg#youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
</footer>
