<div class="goods container">
  <ul class="goods__category-list">
    <li class="goods__category-item" *ngFor="let category of categories$ | async"
        (mouseover)="ChangeSubcategory()">
      <a class="goods__category-link" href="">
        <span>{{category.name}}</span>
      </a>
      <div class="goods__subcategory-wrapper">
        <h2 class="goods__subcategory-title">{{category.name}}</h2>
        <ul class="goods__subcategory-list">
          <li class="goods__subcategory-item" *ngFor="let subcategory of category.subCategories">
            <a class="goods__subcategory-link" href="">{{subcategory.name}}</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>

<!--(mouseout)="changeText=false"-->
