.main{
  width: 70%;
  margin: 0 auto 30px auto;
}

.main__title{
  text-align: center;
  margin: 20px 0;
}

.main-list{
  list-style: none;
}

.main__text{
  margin-bottom: 10px;
  text-align: justify;
}

.main__video{
  display: block;
  margin: 30px auto 0;
  border:1px solid var(--light-gray);
  width:560px;
  height:315px;
}

@media(max-width: 800px){
  .main__video{
    width:350px;
    height:105px;
  }
}
